<div class="section-bar">
  Education
</div>

<div class="card-container">
  <div class="exp-card">
    <div class = "exp-card-header-container">
      <img class="exp-card-header-img-container" height="80" width="92" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQubjqX7nkrOvt__46tzS-55caE0w7Bwo0B_Ity9KBod36q2RpZwjRapokqmrf_EJqawQc&usqp=CAU" alt="error">
      <div class="exp-card-header-text-container">
        <p class="exp-card-header-text-title">Santa Monica College</p>
        <p class="exp-card-header-text-time">2022</p>
      </div>
    </div>
    <div class = "exp-card-bullet-container">
      <h3>A.S. in Computer Science</h3>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="exp-card">
    <div class = "exp-card-header-container">
      <img class="exp-card-header-img-container" height="85" width="85" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Seal_of_University_of_California%2C_Berkeley.svg/1200px-Seal_of_University_of_California%2C_Berkeley.svg.png" alt="error">
      <div class="exp-card-header-text-container">
        <p class="exp-card-header-text-title">UC Berkeley</p>
        <p class="exp-card-header-text-time">2018</p>
      </div>
    </div>
    <div class = "exp-card-bullet-container">
      <h3>B.A. in Economics</h3>
    </div>
  </div>
</div>

<br>
<br>
<br>
