
/* Page container */
.page-container {
  display: flex;
  flex-direction: column;
  margin-left:10%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 20%;
  /*border: 3px solid red;*/
}

/* Top Image flexbox container */
.top-container {
  display: flex;
  float: left;
  flex-direction: row;
  border: 3px solid darkgrey;
  margin-left: 15%;
  padding: 17px;
  background-color: #E3EDF6;
  min-width: 500px;
  max-width: 750px;
  max-height: 320px;
  /*border: 3px solid red;*/
}

.top-container img {
  margin-left:0%;
  margin-top:0%;
  margin-bottom:0%;
  margin-left: 12px;
  width: 250px;
  height: 303px;
  border-radius: 20%;
  /*border: 3px solid red;*/
}

/* text container within img container*/
.top-container-text  {
  display: flex;
  flex-direction: column;
  margin-top:6%;
  margin-left: 30px;
  width: 70%;
  background-color: #E3EDF6;
   /*border: 3px solid red;*/
}

.top-container h1 {
  margin-left:0%;
  margin-top:0%;
  font-weight: bold;
  font-size: 50px;
  color: black;
  background-color: #E3EDF6;
  padding-left: 20px;
  /*border: 3px solid red;*/
}

.top-container h2 {
  margin-left:0%;
  margin-top:0%;
  font-size: 25px;
  font-style: italic;
  color: black;
  background-color: #E3EDF6;
  padding-left: 20px;
}

/* Horizontal bar to head section */
.about-bar {
  margin-top:3%;
  margin-left:0%;
  margin-bottom: 3%;
  padding: 30px;
  font-size: 40px;
  background-color: steelblue;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-family: "Google Sans";
  text-transform: uppercase;
  font-style: italic;
}

/*About me paragraph*/
.about-me-p {
  margin-left:18%;
  margin-right:5%;
  margin-top:0%;
  max-width: 96%;
  max-width: 750px;
  font-size: 25px;
  text-align: center;
  color: black;
  text-align: left;
  font-family: Times;
  /*border: 3px solid red;*/
}


