
<div class="page-container">
  <div class="top-container">
    <img src="assets/images/rome.png" />
    <div class="top-container-text">
      <h1>
        Aaron Corona
      </h1>
      <h2>
        Analytics @ Google
        <br>
        <br>
        Budding Full-Stack Developer
      </h2>
    </div>
  </div>

  <br>

  <div class="about-bar">
      About Me
  </div>

  <div class="about-me-p">
      I'm an Analytics Lead at Google and I have a passion for Software Engineering. My day job
      involves Data Engineering and Enablement. I also practice Full-Stack development
      with personal projects.
      <br>
      <br>
      In my free time, I love playing guitar, running marathons, and traveling.
  </div>
</div>



