/* Avoid overlap with the navbar. Otherwise, fill the page by default*/
*{
  margin-top:0%;
  margin-right:0%;
  margin-left: 23%;
  max-width: 96%;
}

/* Top Image flexbox container */
.top-container {
  display: flex;
  float: left;
  flex-direction: row;
  border: 3px solid darkgrey;
  margin-left:23%;
  max-width: 96%;
  width: 72%;
  max-height: 30%;
  padding: 17px;
  background-color: #E3EDF6;
}

.top-container img {
  margin-left:0%;
  margin-top:0%;
  margin-bottom:0%;
  margin-left: 12px;
  width: 270px;
  height: 320px;
  border-radius: 20%;
}

/* text container within img container*/
.top-container-text  {
  margin-top:6%;
  margin-left: 30px;
  width: 65%;
  background-color: #E3EDF6;
}

.top-container h1 {
  margin-left:0%;
  margin-top:0%;
  font-weight: bold;
  font-size: 50px;
  color: black;
  background-color: #E3EDF6;
  padding-left: 20px;
}

.top-container h2 {
  margin-left:0%;
  margin-top:0%;
  font-size: 25px;
  font-style: italic;
  color: black;
  background-color: #E3EDF6;
  padding-left: 20px;
}

/* Horizontal bar to head section */
.about-bar {
  margin-top:0%;
  margin-left:20%;
  max-width: 100%;
  margin-top: 32%;
  margin-bottom: 3%;
  padding: 30px;
  font-size: 40px;
  background-color: steelblue;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-family: "Google Sans";
  text-transform: uppercase;
  font-style: italic;
}

/*About me paragraph*/
.about-me-p p {
  margin-left:0%;
  margin-top:0%;
  max-width: 96%;
  font-size: 25px;
  text-align: center;
  color: black;
  text-align: left;
  font-family: Times;
}

