/* Avoid overlap with the navbar. Otherwise, fill the page by default*/
*{
  margin-top:0%;
  margin-right:0%;
  margin-left: 23%;
}

/* Top Image flexbox container */
.top-container {
  display: flex;
  float: left;
  flex-direction: row;
  border: 3px solid darkgrey;
  margin-left:25%;
  height: 20%;
  width: 67%;
  padding: 17px;
  background-color: #E3EDF6;
  max-width: 700px;
}

.top-container img {
  margin-left:0%;
  margin-top:0%;
  margin-bottom:0%;
  margin-left: 12px;
  width: 250px;
  height: 300px;
  border-radius: 20%;
  /*border: 3px solid red;*/
}

/* text container within img container*/
.top-container-text  {
  display: flex;
  flex-direction: column;
  margin-top:6%;
  margin-left: 30px;
  width: 70%;
  background-color: #E3EDF6;
   /*border: 3px solid red;*/
}

.top-container h1 {
  margin-left:0%;
  margin-top:0%;
  font-weight: bold;
  font-size: 50px;
  color: black;
  background-color: #E3EDF6;
  padding-left: 20px;
  /*border: 3px solid red;*/
}

.top-container h2 {
  margin-left:0%;
  margin-top:0%;
  font-size: 25px;
  font-style: italic;
  color: black;
  background-color: #E3EDF6;
  padding-left: 20px;
}

.top-container:after {
  margin-bottom: 20%;
}

/* Horizontal bar to head section */
.about-bar {
  margin-top:35%;
  margin-left:20%;
  max-width: 100%;
  margin-bottom: 3%;
  padding: 30px;
  font-size: 40px;
  background-color: steelblue;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-family: "Google Sans";
  text-transform: uppercase;
  font-style: italic;
}

/*About me paragraph*/
.about-me-p {
  margin-left:24%;
  margin-right:3%;
  margin-top:0%;
  max-width: 96%;
  font-size: 25px;
  text-align: center;
  color: black;
  text-align: left;
  font-family: Times;
  /*border: 3px solid red;*/
}


