<div class="exp-bar">
  Personal Projects
</div>

<div class="card-container">
  <div class="project-card">
    <a href="https://github.com/aaroncorona/Truffle-App-Frontend#readme" target = "_blank">
      <div class = "project-card-header-container">
          <img class="project-card-header-img-container" src="https://www.vectorlogo.zone/logos/google/google-ar21.svg" alt="error">
          <div class="project-card-header-text-container">
            <p class="project-card-header-text-title">
              Truffle Fan Page
            </p>
            <p class="project-card-header-text-sub-title">
              A full-stack web application to show the life of Truffle and log new fans.
            </p>
          </div>
      </div>
    </a>
  </div>
  <div class="project-card">
    <a href="https://github.com/aaroncorona/Truffle-App-Frontend#readme" target = "_blank">
      <div class = "project-card-header-container">
        <img class="project-card-header-img-container" src="https://www.vectorlogo.zone/logos/google/google-ar21.svg" alt="error">
        <div class="project-card-header-text-container">
          <p class="project-card-header-text-title">
            Truffle Fan Page
          </p>
          <p class="project-card-header-text-sub-title">
            A full-stack web application to show the life of Truffle and log new fans.
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="project-card">
    <a href="https://github.com/aaroncorona/Truffle-App-Frontend#readme" target = "_blank">
      <div class = "project-card-header-container">
        <img class="project-card-header-img-container" src="https://www.vectorlogo.zone/logos/google/google-ar21.svg" alt="error">
        <div class="project-card-header-text-container">
          <p class="project-card-header-text-title">
            Truffle Fan Page
          </p>
          <p class="project-card-header-text-sub-title">
            A full-stack web application to show the life of Truffle and log new fans.
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="project-card">
    <a href="https://github.com/aaroncorona/Truffle-App-Frontend#readme" target = "_blank">
      <div class = "project-card-header-container">
        <img class="project-card-header-img-container" src="https://www.vectorlogo.zone/logos/google/google-ar21.svg" alt="error">
        <div class="project-card-header-text-container">
          <p class="project-card-header-text-title">
            Truffle Fan Page
          </p>
          <p class="project-card-header-text-sub-title">
            A full-stack web application to show the life of Truffle and log new fans.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
