<div class="section-bar">
  Personal Projects
</div>

<div class="card-container">
  <div class="project-card">
    <a href="https://github.com/aaroncorona/Truffle-App-Frontend#readme" target = "_blank">
      <div class = "project-card-header-container">
          <img class="project-card-header-img-container" src="assets/images/teddySS.png" alt="error">
          <div class="project-card-header-text-container">
            <p class="project-card-header-text-title">
              Truffle Fan Page
            </p>
            <p class="project-card-header-text-sub-title">
              A full-stack web application to track the life of Truffle and register new fans.
            </p>
          </div>
      </div>
    </a>
  </div>
  <div class="project-card">
    <a href="https://github.com/aaroncorona/Pooh-Bear-Game#readme" target = "_blank">
      <div class = "project-card-header-container">
        <img class="project-card-header-img-container" src="assets/images/poohSS.png" alt="error">
        <div class="project-card-header-text-container">
          <p class="project-card-header-text-title">
            Pooh Bear Game
          </p>
          <p class="project-card-header-text-sub-title">
            This is a snake style game with added features and a Winnie the Pooh theme.
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="project-card">
    <a href="https://github.com/aaroncorona" target = "_blank">
      <div class = "project-card-header-container">
        <img class="project-card-header-img-container" src="https://www.vectorlogo.zone/logos/google/google-ar21.svg" alt="error">
        <div class="project-card-header-text-container">
          <p class="project-card-header-text-title">
            Group Chat
          </p>
          <p class="project-card-header-text-sub-title">
            Coming soon!
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="project-card">
    <a href="https://github.com/aaroncorona" target = "_blank">
      <div class = "project-card-header-container">
        <img class="project-card-header-img-container" src="https://www.vectorlogo.zone/logos/google/google-ar21.svg" alt="error">
        <div class="project-card-header-text-container">
          <p class="project-card-header-text-title">
            Colored Board Game
          </p>
          <p class="project-card-header-text-sub-title">
            Coming soon!
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
