<div class="section-bar">
  Let's Connect
</div>

<div class="card-container">
    <a href = "https://www.linkedin.com/in/aaronmcorona/" target="_blank" >
      <img src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"/>
    </a>
    <a href = "https://www.youtube.com/user/amc1140/about" target="_blank" >
      <img src="https://img.shields.io/youtube/channel/views/UCn9euabIku6UkvA2whqlFIw?label=youtube&style=social"/>
    </a>
    <a href = "mailto: amc1140@berkeley.edu" target="_blank" >
      <img src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white"/>
    </a>
    <a href = "https://github.com/aaroncorona" target="_blank" >
      <img alt="GitHub" src="https://img.shields.io/github/followers/aaroncorona?style=social">
    </a>
</div>

