
/*Default Text colors*/
*{
  background-color: transparent;
  color: black
}

/* Horizontal bar to head the page */
.section-bar {
  margin-top:0%;
  margin-left:20%;
  max-width: 100%;
  padding: 30px;
  font-size: 40px;
  background-color: steelblue;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-family: "Google Sans";
  text-transform: uppercase;
  font-style: italic;
}

/* Card Container */
.card-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 4%;
  margin-left: 50%;
  margin-right: 0%;
  /*border: 1px solid black*/
}

a {
  align-content: center;
  margin-bottom: 5%;
  /*border: 1px solid black;*/
}


img {
  width: 30%;
  height: 30%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

img:hover {
  box-shadow: 0 20px 20px 0 cadetblue;
}
