
.nav {
  background-color: white;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: left;
  box-shadow: 0 0px 4px 0 rgba(0,0,0,1);
}

.nav-title {
  background-color: white;
  color: darkgrey;
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  font-weight: bold;
}

.nav li a {
  background-color: white;
  color: black;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: Arial;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,1);
}

li a:hover:not(.active) {
  background-color: lightgrey;
  color: black;
}

