<div class="section-bar">
  Work Experience
</div>

<div class="card-container">
  <div class="exp-card">
    <div class = "exp-card-header-container">
      <img class="exp-card-header-img-container" src="https://www.vectorlogo.zone/logos/google/google-ar21.svg" alt="error">
      <div class="exp-card-header-text-container">
        <p class="exp-card-header-text-title">Analytics Lead</p>
        <p class="exp-card-header-text-time">2019 - Present</p>
      </div>
    </div>
    <div class = "exp-card-bullet-container">
      <h3>Data Engineering</h3>
      <ul>
        <li>
          Built an industry-standard data model with star schema architecture.
          Led the project for 2 years to implement scalable engineering, a templatized design,
          and align with business processes.
        </li>
        <li>
          Engineered a Change Data Capture (CDC) process with Python to automate ETL jobs.
        </li>
        <li>
          Developed internal tools with JavaScript and CSS (Apps Script) to automate processes
          like data validation, bug triaging, and email alerts.
        </li>
        <li>
          Created a data security system using SSH and SQL that includes
          PII encryption, data storage, and user access that best aligns with GDPR standards.
        </li>
        <li>
          Configured a Looker instance for Cloud Marketing by assembling a
          BigQuery database connection and LookML files.
        </li>
      </ul>
      <h3>Technical Enablement</h3>
      <ul>
        <li>
          Developed an internal website with 28 web pages of technical documentation about metadata
          and data architecture as well as stakeholder facing business documentation.
        </li>
        <li>
          Maintained a question ticketing system and office hours to answer technical questions on SQL, Python, SSH, and JavaScript
          to empower org-wide adoption of our data models and tools.
        </li>
        <li>
          Acted as a thought leader and critical point of contact to advise Marketing on adopting internal
          engineering products and 3rd party software (e.g. new Salesforce add-ons).
        </li>
        <li>
          Conducted org-wide trainings and presentations to senior leadership on new dashboards every quarter.
        </li>
      </ul>
      <h3>Reporting</h3>
      <ul>
        <li>
          Built 8 dashboards for Marketing reporting on target attainment, ROI, and funnel health.
        </li>
        <li>
          Presented advanced analyses to senior leadership on Marketing spend optimization to guide headcount strategies.
        </li>
        <li>
          Led metric alignment workshops between Marketing and Sales for improved attribution models and reporting alignment.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="exp-card">
    <div class = "exp-card-header-container">
      <img class="exp-card-header-img-container" src="https://www.vectorlogo.zone/logos/accenture/accenture-ar21.svg" alt="error">
      <div class="exp-card-header-text-container">
        <p class="exp-card-header-text-title">Consulting Analyst</p>
        <p class="exp-card-header-text-time">2018 - 2019</p>
      </div>
    </div>
    <div class = "exp-card-bullet-container">
      <h3>Salesforce Application Builder</h3>
      <ul>
        <li> Configured 30+ system enhancements to better automate approval processes,
             workflow rules, and other SFDC actions.</li>
        <li> Built custom page layouts, record types, screen routes, and security controls
             for the custom UI of multiple objects.</li>
        <li> Troubleshooted defects and gathered requirements to drive weekly agile deployments.</li>
      </ul>
      <h3>Data Conversion Specialist</h3>
      <ul>
        <li> Designed an ETL architecture mapping for the migration of 10+ objects from a
             legacy banking system to Salesforce for ~200 end users.</li>
        <li> Led mock data conversions with SQL to guide data reconcilation plans.</li>
        <li> Created a system test interface for future migrations with SSH.</li>
      </ul>
    </div>
  </div>
</div>
<br>
<br>
<br>
