
/*Default Text colors*/
*{
  background-color: transparent;
  color: black
}

/* Horizontal bar to head the page */
.section-bar {
  margin-top:0%;
  margin-left:16%;
  max-width: 100%;
  padding: 30px;
  font-size: 40px;
  background-color: steelblue;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-family: "Google Sans";
  text-transform: uppercase;
  font-style: italic;
}


/* Card Container */
/* Note: Use card container to be able to place cards flex left to right) */
.card-container {
  display: flex;
  margin-top: 4%;
  margin-left: 26%;
  margin-right: 5%;
  margin-bottom: 5%;
  min-width: 620px;
  max-width: 1000px;
  /*border: 1px solid black*/
}

/* Work Experience Cards */
.exp-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 5px;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  width: 100%;
  height: 100%;
  /*border: 1px solid black*/
}

/* On mouse-over, add a deeper shadow */
.exp-card:hover {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

/*Experience Header*/
.exp-card-header-container {
  display: flex;
  background-color: transparent;
  margin-top: 0%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0%;
  border-bottom: 1px solid lightgrey;
  /*border: 1px solid black*/
}

.exp-card-header-img-container {
  width: 170px;
  background-color: white;
  border-radius: 10%;
  margin-top: 2%;
  margin-left: 0%;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /*border: 1px solid black*/
}

.exp-card-header-text-container {
  height: 70px;
  display: flex;
  width: 90%;
  margin-top: 2%;
  margin-left: 0%;
  margin-bottom: 2%;
  margin-right: 0%;
  /*border: 1px solid black*/
}

.exp-card-header-text-title {
  margin-left: 4%;
  margin-bottom: 0%;
  margin-top: 4%;
  width: 100%;
  height: 50%;
  font-size: 28px;
  font-weight: bold;
  font-family: Menlo;
  color: cadetblue;
  text-align: center;
  /*border: 1px solid black;*/
}

.exp-card-header-text-time {
  margin-top: 5%;
  margin-right: 0%;
  width: 50%;
  height: 50%;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  color: dimgrey;
  /*border: 1px solid black*/
}

/*Experience Bullets*/
.exp-card-bullet-container {
  background-color: transparent;
  margin-top: 0%;
  margin-left: 2%;
  margin-right: 3%;
  padding-bottom: 4%;
  /*border: 1px solid black;*/
}
.exp-card-bullet-container h3 {
  font-size: 20px;
  font-family: "Apple Braille";
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  /*border: 1px solid black;*/
}

.exp-card-bullet-container ul {
  font-family: "Apple Braille";
  margin: 0%;
  margin-top: 1.3%;
  margin-left: 3%;
  /*border: 1px solid black;*/
}

.exp-card-bullet-container li {
  font-size: 18px;
  margin-top: 1.2%;
  /*border: 1px solid black;*/
}
