<div class="exp-bar">
  Work Experience
</div>

<div class="card">
  <div class = "card-header">
    <img src="https://www.vectorlogo.zone/logos/google/google-ar21.svg" alt="error">
    <div class="card-header-text">
      <p class="card-header-text-title">Analytics Lead</p>
      <p class="card-header-text-time">2019 - Present</p>
    </div>
  </div>
  <hr>
  <div class = "card-bullets">
    <ul>
      <li> Data Engineering</li>
      <li> Reporting</li>
      <li> Enablement</li>
    </ul>
  <div>
  <br>
</div>
