<div class="section-bar">
  Work Experience
</div>

<div class="card-container">
  <div class="exp-card">
    <div class = "exp-card-header-container">
      <img class="exp-card-header-img-container" src="https://www.vectorlogo.zone/logos/google/google-ar21.svg" alt="error">
      <div class="exp-card-header-text-container">
        <p class="exp-card-header-text-title">Analytics Lead</p>
        <p class="exp-card-header-text-time">2019 - Present</p>
      </div>
    </div>
    <div class = "exp-card-bullet-container">
      <h3>Data Engineering</h3>
      <ul>
        <li> Built an industry-standard data model using a star schema architecture.
             Led a team that iterated on the project for 2 years to ensure it's alignment with business processes, scalable engineering, and templatized design.</li>
        <li> Created a data security system for PII encryption, storage, and user access to best align with GDPR standards. </li>
        <li> Configured a Looker instance with LookML and BigQuery database connections.</li>
        <li> Developed internal tools with JavaScript to automate processes like data validation and bug triaging.</li>
      </ul>
      <h3>Technical Enablement</h3>
      <ul>
        <li> Bullet 1</li>
        <li> Bullet 2</li>
        <li> Bullet 3</li>
      </ul>
      <h3>Reporting</h3>
      <ul>
        <li> Bullet 1</li>
        <li> Bullet 2</li>
        <li> Bullet 3</li>
      </ul>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="exp-card">
    <div class = "exp-card-header-container">
      <img class="exp-card-header-img-container" src="https://www.vectorlogo.zone/logos/accenture/accenture-ar21.svg" alt="error">
      <div class="exp-card-header-text-container">
        <p class="exp-card-header-text-title">Consulting Analyst</p>
        <p class="exp-card-header-text-time">2018 - 2019</p>
      </div>
    </div>
    <div class = "exp-card-bullet-container">
      <h3>Salesforce Application Builder</h3>
      <ul>
        <li> Configured 30+ system enhancements to better automate approval processes,
             workflow rules, and other SFDC actions.</li>
        <li> Built custom page layouts, record types, screen routes, and security controls
             for the custom UI of multiple objects.</li>
        <li> Troubleshooted defects and gathered requirements to drive weekly agile deployments.</li>
      </ul>
      <h3>Data Conversion Specialist</h3>
      <ul>
        <li> Designed an ETL architecture mapping for the migration of 10+ objects from a
             legacy banking system to Salesforce for ~200 end users.</li>
        <li> Led mock data conversions with SQL to guide data reconcilation plans.</li>
        <li> Created a system test interface for future migrations using shell scripts.</li>
      </ul>
    </div>
  </div>
</div>
<br>
<br>
<br>
